{% extends 'base_template.html'%}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-8">
            <h4>Borrar Fabricante</h4>

            {% if error_message %}
            <div class="alert alert-danger">
                {{ error_message }}
            </div>
            {% endif %}

            <form action="" method="post">
                <select name="fabricante_buscado" id="" class="form-control mb-2" required>
                    {% for fabricante in fabricantes %}
                        <option value="{{fabricante.id}}">{{fabricante.nombre}}</option>
                    {% endfor %}
                </select> 
                <button type="submit" class="btn btn-success">Borrar</button>
            </form>
            <h4>
                <a class="btn btn-primary" href="/fabricante">Volver a Listado</a>
            </h4>
            <h4>
                <a class="btn btn-secondary" href="/editar_fabricante">Editar Fabricante</a>
            </h4>
        </div>
        <div class="col-4">
            <h4>Listado de Fabricantes</h4>
            {% for fabricante in fabricantes %}
            <li>{{fabricante.nombre}} - {{fabricante.pais_origen}}</li>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock%}