{% extends 'base_template.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-8">
            <h4>Borrar Modelo</h4>

            {% if error_message %}
            <div class="alert alert-danger">
                {{ error_message }}
            </div>
            {% endif %}

            <form action="" method="post">
                <select name="modelo_buscado" class="form-control mb-2" required>
                    {% for marca in marcas %}
                        <option value="{{modelo.id}}">{{modelo.nombre}}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-success">Borrar</button>
            </form>
            <h4>
                <a class="btn btn-primary" href="/modelo">Volver a Listado</a>
            </h4>
            <h4>
                <a class="btn btn-secondary" href="/editar_modelo">Editar Modelos</a>
            </h4>
        </div>
        <div class="col-4">
            <h4>Listado de Modelos</h4>
            {% for modelo in modelos %}
            <li>{{modelo.nombre}} - {{modelo.categoria.tipo}} - {{modelo.caracteristica.tipo}}</li>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
