{% extends 'base_template.html'%}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-8">
            <h4>Borrar Caracteristica</h4>

            {% if error_message %}
            <div class="alert alert-danger">
                {{ error_message }}
            </div>
            {% endif %}

            <form action="" method="post">
                <select name="caracteristica_buscada" id="" class="form-control mb-2" required>
                    {% for caracteristica in caracteristicas %}
                        <option value="{{caracteristica.id}}">{{caracteristica.tipo}}</option>
                    {% endfor %}
                </select> 
                <button type="submit" class="btn btn-success">Borrar</button>
            </form>
            <h4>
                <a class="btn btn-primary" href="/caracteristica">Volver a Listado</a>
            </h4>
            <h4>
                <a class="btn btn-secondary" href="/editar_caracteristica">Editar Caracteristicas</a>
            </h4>
        </div>
        <div class="col-4">
            <h4>Listado de Caracteristicas</h4>
            {% for caracteristica in caracteristicas %}
            <li>{{caracteristica.tipo}} - {{caracteristica.descripcion}}</li>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock%}