{% extends 'base_template.html'%}

{% block content %}

<div class="container">
    <div class="row">

        <div class="col-6">
            <h4>Cargar Caracteristica</h4>
            <form action="" method="post">
                <input type="text" name="tipo" class="form-control mb-2" placeholder="Tipo de caracteristica" required>
                <input type="text" name="descripcion" class="form-control mb-2" placeholder="Descripcion" required>
                <button type="submit" class="btn btn-success">Guardar</button>
            </form>
            <h4>
                <a class="btn btn-primary" href="/editar_caracteristica">Editar Caracteristicas</a>
            </h4>
            <h4>
                <a class="btn btn-secondary" href="/borrar_caracteristica">Borrar Caracteristicas</a>
            </h4>
        </div>
        <div class="col-6">
            <h4>Listado de Caracteristicas</h4>
            {% for caracteristica in caracteristicas %}
            <li>{{caracteristica.tipo}} - {{caracteristica.descripcion}}</li>
            {% endfor %}
        </div>
    
    </div>
</div>


{% endblock%}