{% extends 'base_template.html'%}

{% block content %}

<div class="container">
    <div class="row">

        <div class="col-6">
            <h4>Cargar Categoria</h4>
            <form action="" method="post">
                <input type="text" name="tipo" class="form-control mb-2" placeholder="Tipo de categoria" required>
                <button type="submit" class="btn btn-success">Guardar</button>
            </form>
        <h4>
            <a class="btn btn-primary" href="/editar_categoria">Editar Categorias</a>
        </h4>
        <h4>
            <a class="btn btn-secondary" href="/borrar_categoria">Borrar Categorias</a>
        </h4>
        </div>

        <div class="col-6">
            <h4>Listado de Categorias</h4>
            {% for categoria in categorias %}
            <li>{{categoria.tipo}}</li>
            {% endfor %}
        </div>
    
    </div>
</div>


{% endblock%}
