{% extends 'base_template.html'%}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-8">
            <h4>Modificar Proveedor</h4>
            <form action="" method="post">
                <select name="proveedor_buscado" id="" class="form-control mb-2" required>
                    {% for proveedor in proveedores %}
                        <option value="{{proveedor.id}}">{{proveedor.nombre}}</option>
                    {% endfor %}
                </select> 
                <input type="text" name="nombre" class="form-control mb-2" placeholder="Nombre Proveedor" required>
                <input type="text" name="correo" class="form-control mb-2" placeholder="Correo" required>
                <input type="text" name="celular" class="form-control mb-2" placeholder="Número de Celular" required>
                <button type="submit" class="btn btn-success">Guardar</button>
            </form>
            <h4>
                <a class="btn btn-primary" href="/proveedor">Volver a Listado</a>
            </h4>
            <h4>
                <a class="btn btn-secondary" href="/borrar_proveedor">Borrar Proveedor</a>
            </h4>
        </div>
        <div class="col-4">
            <h4>Listado de Proveedores</h4>
            {% for proveedor in proveedores %}
            <li>{{proveedor.nombre}}: {{proveedor.correo}} - {{proveedor.celular}}</li>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock%}