{% extends 'base_template.html'%}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-8">
            <h4>Modificar Modelo</h4>
            <form action="" method="post">
                <select name="modelo_buscado" class="form-control mb-2" required>
                    {% for modelo in modelos %}
                        <option value="{{modelo.id}}">{{modelo.nombre}}</option>
                    {% endfor %}
                </select> 
                <input type="text" name="nombre" class="form-control mb-2" placeholder="Nombre del modelo" required>
                <select name="marca" class="form-control mb-2" required>
                    {% for marca in marcas %}
                        <option value="{{marca.id}}">{{marca.nombre}}</option>
                    {% endfor %}
                </select>
                <select name="categoria" class="form-control mb-2" required>
                    {% for categoria in categorias %}
                        <option value="{{categoria.id}}">{{categoria.tipo}}</option>
                    {% endfor %}
                </select>
                <select name="caracteristica" class="form-control mb-2" required>
                    {% for caracteristica in caracteristica %}
                        <option value="{{caracteristica.id}}">{{caracteristica.tipo}}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-success">Guardar</button>
            </form>
            <h4>
                <a class="btn btn-primary" href="/modelo">Volver a Listado</a>
            </h4>
            <h4>
                <a class="btn btn-secondary" href="/borrar_modelo">Borrar Modelo</a>
            </h4>
        </div>
        <div class="col-4">
            <h4>Listado de Modelo</h4>
            {% for modelo in modelos %}
            <li>{{modelo.nombre}} - {{modelo.categoria.tipo}} - {{modelo.caracteristica.tipo}}</li>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}