{% extends 'base_template.html'%}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-8">
            <h4>Modificar Fabricante</h4>
            <form action="" method="post">
                <select name="fabricante_buscado" id="" class="form-control mb-2" required>
                    {% for fabricante in fabricantes %}
                        <option value="{{fabricante.id}}">{{fabricante.nombre}}</option>
                    {% endfor %}
                </select> 
                <input type="text" name="nombre" class="form-control mb-2" placeholder="Nombre del Fabricante" required>
                <input type="text" name="pais" class="form-control mb-2" placeholder="Pais de Origen" required>
                <button type="submit" class="btn btn-success">Guardar</button>
            </form>
            <h4>
                <a class="btn btn-primary" href="/fabricante">Volver a Listado</a>
            </h4>
            <h4>
                <a class="btn btn-secondary" href="/borrar_fabricante">Borrar Fabricante</a>
            </h4>
        </div>
        <div class="col-4">
            <h4>Listado de Fabricantes</h4>
            {% for fabricante in fabricantes %}
            <li>{{fabricante.nombre}} - {{fabricante.pais_origen}}</li>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock%}