{% extends 'base_template.html'%}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-8">
            <h4>Modificar Equipo</h4>
            <form action="" method="post">
                <select name="equipo_buscado" class="form-control mb-2" required>
                    <option value="" disabled selected>Seleccione un equipo</option>
                    {% for equipo in equipos %}
                        <option value="{{ equipo.id }}">{{ equipo.nombre }}</option>
                    {% endfor %}
                </select>
                <input type="text" name="nombre" class="form-control mb-2" placeholder="Nombre del Equipo" required>
                <input type="number" name="anio" class="form-control mb-2" placeholder="Año" required>
                <input type="number" name="costo" class="form-control mb-2" placeholder="Costo" required>
                <select name="modelo" class="form-control mb-2" required>
                    <option value="" disabled selected>Seleccione un modelo</option>
                    {% for modelo in modelos %}
                        <option value="{{ modelo.id }}">{{ modelo.nombre }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-success">Guardar</button>
            </form>
            <h4>
                <a class="btn btn-primary" href="/equipo">Volver a Listado</a>
            </h4>
            <h4>
                <a class="btn btn-secondary" href="/borrar_equipo">Borrar Equipos</a>
            </h4>
        </div>
        <div class="col-4">
            <h4>Listado de Equipos</h4>
            {% for equipo in equipos %}
            <li>{{ equipo.nombre }} - Año Fabricacion: {{ equipo.anio }} - Costo: {{ equipo.costo }}</li>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
