{% extends 'base_template.html'%}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-8">
            <h4>Modificar Accesorio</h4>
            <form action="" method="post">
                <select name="accesorio_buscado" class="form-control mb-2" required>
                    {% for accesorio in accesorios %}
                        <option value="{{accesorio.id}}">{{accesorio.tipo}} - {{accesorio.descripcion}}</option>
                    {% endfor %}
                </select> 
                <input type="text" name="tipo" class="form-control mb-2" placeholder="Tipo de accesorio" required>
                <input type="text" name="descripcion" class="form-control mb-2" placeholder="Descripción" required>
                <select name="proveedor" class="form-control mb-2" required>
                    {% for proveedor in proveedores %}
                        <option value="{{proveedor.id}}">{{proveedor.nombre}}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-success">Guardar</button>
            </form>
            <h4>
                <a class="btn btn-primary" href="/accesorio">Volver a Listado</a>
            </h4>
            <h4>
                <a class="btn btn-secondary" href="/borrar_accesorio">Borrar Accesorios</a>
            </h4>
        </div>
        <div class="col-4">
            <h4>Listado de Accesorios</h4>
            {% for accesorio in accesorios %}
            <li>{{accesorio.tipo}} - {{accesorio.descripcion}} - Vendedor: {{accesorio.proveedor.nombre}}</li>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
