{% extends 'base_template.html'%}

{% block content %}

<div class="container text-center mt-5">
    <h1 class="display-3">Sistema de Gestión de Stock</h1>
    <p class="lead">Bienvenido al sistema de gestión de stock. Desde aquí podrás gestionar el stock de equipos en diferentes depósitos.</p>
    <div class="mt-4">
        <a href="mover_stock" class="btn btn-primary btn-lg">Ir a Modificar Stock</a>
        <a href="consultar_stock" class="btn btn-secondary btn-lg">Consultar Stock Total</a>
    </div>
</div>

{% endblock%}

