{% extends 'base_template.html'%}

{% block content %}

<div class="container">
    <div class="row">

        <div class="col-6">
            <h4>Cargar Marca</h4>
            <form action="" method="post">
                <input type="text" name="nombre" class="form-control mb-2" placeholder="Nombre de la marca" required>
                <select name="proveedor" class="form-control mb-2" required>
                    {% for proveedor in proveedores %}
                        <option value="{{proveedor.id}}">{{proveedor.nombre}}</option>
                    {% endfor %}
                </select>
                <select name="fabricante" class="form-control mb-2" required>
                    {% for fabricante in fabricantes %}
                        <option value="{{fabricante.id}}">{{fabricante.nombre}}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-success">Guardar</button>
            </form>
            <h4>
                <a class="btn btn-primary" href="/editar_marca">Editar Marcas</a>
            </h4>
            <h4>
                <a class="btn btn-secondary" href="/borrar_marca">Borrar Marcas</a>
            </h4>
        </div>

        <div class="col-6">
            <h4>Listado de Marcas</h4>
            {% for marca in marcas %}
            <li>{{marca.nombre}} - Fabricante: {{marca.fabricante.nombre}} - Vendedor: {{marca.proveedor.nombre}}</li>
            {% endfor %}
        </div>
    
    </div>
</div>

{% endblock %}
