{% extends 'base_template.html'%}

{% block content %}

<div class="container">
    <div class="row">

        <div class="col-6">
            <h4>Cargar Proveedor</h4>
            <form action="" method="post">
                <input type="text" name="nombre" class="form-control mb-2" placeholder="Nombre del Proveedor" required>
                <input type="text" name="correo" class="form-control mb-2" placeholder="Correo" required>
                <input type="text" name="celular" class="form-control mb-2" placeholder="Número de Celular" required> 
                <button type="submit" class="btn btn-success">Guardar</button>
            </form>
            <h4>
                <a class="btn btn-primary" href="/editar_proveedor">Editar Proveedores</a>
            </h4>
            <h4>
                <a class="btn btn-secondary" href="/borrar_proveedor">Borrar Proveedores</a>
            </h4>
        </div>
        <div class="col-6">
            <h4>Listado de Proveedores</h4>
            {% for proveedor in proveedores %}
            <li>{{proveedor.nombre}}: {{proveedor.correo}} - {{proveedor.celular}}</li>
            {% endfor %}
        </div>
    
    </div>
</div>


{% endblock%}
